.spoiler-tag {
  background-color: gold;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.5rem;
  font-weight: none;
  margin: 1rem;
  padding: 0.5rem;
  text-decoration: none;
  text-shadow: 0 0 0;
  vertical-align: middle;
}
